* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg.jpg);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    transform-style: preserve-3d;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.308), rgba(255, 255, 255, 0.151));
    min-height: 80vh;
    width: 30rem;
    border-radius: 30px;
    padding: 0 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.name {
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name img {
    width: 15rem;
    max-height: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    height: 18rem;
    width: 18rem;
    background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
}

.info h1 {
    font-size: 2.5rem;
    transition: all 0.75s ease-out;
}

.info h3 {
    font-size: 1.1rem;
    padding: 2rem 0rem;
    color: #0a0707;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.pick {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.75s ease-out;
}


/* .pick a {
    padding: 0.5rem 1.2rem;
    background: none;
    border: 2px solid hidden;
    text-decoration: none;
    box-shadow: 0 5p 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}

.pick a.active {
    background: #585858;
    color: white;
} */

.pick button {
    padding: 0.5rem 1.2rem;
    background: none;
    border: none;
    box-shadow: 0 5p 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #070606;
}

.pick button.active {
    background: #292626;
    color: white;
}

.final {
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: all 0.75s ease-out;
}

.final button {
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}


/* Hide content  initially */

.card-2,
.card-3,
.card-4,
.card-5 {
    display: none;
}

.show {
    display: block !important;
}